.myNavbar{
  height: 5vh;
  background-color: #17A2B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 5rem;
}
.myNavbar a{
  color: white;
  text-decoration: none;
}
.myHeader{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  height: 20vh;
}
.myHeader::before{
  position: absolute;
  background-image: url("https://d1di2lzuh97fh2.cloudfront.net/files/1c/1ch/1chs5q.jpg?ph=65c0bd7bd0");
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  filter: brightness(0.5);
}
.myHeader h1{
  position: relative;
  font-size: 3rem;
  
}
.myHeader p{
  font-size: 1.3rem;
  position: relative;
}
/* Tarjetas estilos */
.myCard{
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.082);
}
.card>.list-group {
  border: none;
}
.cardTitle{
  padding-bottom: 0;
  margin-bottom: 0;
}
.ingredientes{
  list-style: none;
  margin-bottom: 0;
}
.list-group-item{
  padding-bottom: 0;
}
.priceAndButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  height: 7rem;
}
.priceAndButtons h5{
  font-size: 1.6rem;
}
.row{
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.buttons button{
  border: none;
  height: 2.2rem;
  color: white;
  border-radius: 0.2rem;
}
.buttons button:first-child{
  background-color: #0DCAF0;
}
.buttons button:nth-child(2){
  background-color: #DC3545;
}
/* Estilos card detalles */
.containerDetails{
  display: flex;
  margin-top: 3rem;
  height: 30rem;
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.103);
}
.imgContainer{
  width: 40%;
}
.imgContainer img{
  width: 100%;
  height: 100%;
}
.detailsContainer{
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details{
  display: flex;
  flex-direction: column;
}
.details p{
  font-size: 1.1rem;
  margin-bottom: 0;
}
.ingredientesDetails{
  font-size: 1.1rem;
}
.priceAndButtonDetails button{
  background-color: #DC3545;
  border: none;
  height: 3rem;
  width: 6rem;
  color: white;
  border-radius: 0.3rem;
}
.priceAndButtonDetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Estilos carrito */
.containerCarrito{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 35rem;
  padding: 0;
}
.containerCarrito h1{
  height: 10%;
  font-size: 2rem;
}
.elementosCarrito{
  height: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  overflow-y: scroll;

}
.totalIrAPagar{
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.totalIrAPagar button{
  background-color: #198754;
  border: none;
  height: 100%;
  color: white;
  border-radius: 0.2rem;
}
.itemsCarrito{
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.itemsCarrito-img{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.itemsCarrito-img img{
  height: 100%;
}
.itemsCarrito-precioButtons{
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-weight: bold;
}
.itemsCarrito-precioButtons p{
  margin: 0;
  font-size: 1.2rem;
}
.itemsCarrito-precioButtons p:first-child{
  color: green;
}
.itemsCarrito-precioButtons button{
  height: 2.5rem;
  width: 2rem;
  border-radius: 0.2rem; 
  border: none;
  color: white;
}
.itemsCarrito-precioButtons button:nth-child(2){
  background: #DC3545;
}
.itemsCarrito-precioButtons button:nth-child(4){
  background: #0D6EFD;
}
.carroVacio{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}